<div class="panel panel-default">
    <div class="panel-heading">LG Summary</div>
    <div class="panel-body">
        <table>
			<tr><td><b>LG ID: </b></td><td style='padding-left: 10px'>{{ core.lg_id }}</td></tr>
            <tr><td><b>Unit code: </b></td><td style='padding-left: 10px'>{{ core.unit_code }}</td></tr>
            <tr><td><b>Unit name: </b></td><td style='padding-left: 10px'>{{ core.unit_name }}</td></tr>
            <tr><td><b>Unit coordinator: </b></td><td style='padding-left: 10px'>{{ core.editor }}</td></tr>
            <tr><td><b>Credit points: </b></td><td style='padding-left: 10px'>{{ core.credit_points }}</td></tr>
            <tr><td><b>Year: </b></td><td style='padding-left: 10px'>{{ core.year }}</td></tr>
            <tr><td><b>Session: </b></td><td style='padding-left: 10px'>{{ core.session }}</td></tr>
            <tr><td><b>Class: </b></td><td style='padding-left: 10px'>{{ core.class|capitalize }}</td></tr>
            <tr><td><b>State: </b></td><td style='padding-left: 10px'>{{ core.state }}</td></tr>
			<tr><td><b>Reviewer: </b></td><td style='padding-left: 10px'>{{ core.reviewer }}</td></tr>
        </table>
    </div>
</div>
